

.maps {
  height: 73vh;
  position: relative;
}


.map {
  height: 100%;
  // .leaflet-popup {
  //   background-color: red;
  // }
}

.inputs {
  width: 300px;
  z-index: 1000;
  height: 45px;
  position: absolute;
  top: 20px;
  left: 60px;
  background-color: var(--color-white);
  border-radius: 11px;

}

.input {
  border: 2px solid var(--color-orange);
  padding: 10px;
  outline: transparent;
  height: 100%;
  width: 100%;
  border-radius: 11px;
  transition: border-color 0.2s ease-in, border-radius 0.2s ease-in;
  &:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: var(--color-green);
  }
  &:focus ~ .label,
  &:not(:placeholder-shown) ~ .label {
    transform: translate(-4px, -30px);
    font-size: 0.8rem;
    left: 0.8rem;
  }
}

.label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  padding: 1px 4px;
  border-radius: 4px;
  transition:
    transform 200ms ease-in, 
    font-size 200ms ease-in;
    background-color: var(--color-white);
}

.list {
  transition: border-color 0.3s ease-in;
  border: 2px  solid transparent;
  border-top: none;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  // padding: 10px;
  background-color: var(--color-white);
}

.item {
  padding: 8px 12px;
  cursor: pointer;
}

.btn {
  position: absolute;
  right: 6px;
  color: red;
  top: 50%;
  transform: translateY(-49%);
}