

.product {
  background-color: #000;
  // height: 100vh;
  height: 100%;
  padding-top: 120px;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 200px;
}

.inner {
  display: flex;
  position: relative;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  color: var(--color-white);

}

.image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 45px;
  margin-bottom: 15px;
}

.list {
  display: grid;
  grid-gap: 0 10px;
  grid-template-columns: repeat(5, 1fr);
}

.smallimage {
  border-radius: 15px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease-in;
}


.info {
  padding: 20px;
}

.price {
  margin-top: 20px;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 15px;
  span {
    color: var(--color-red);
    display: inline-block;
    margin-right: 3px;
    text-decoration: line-through;
  }
}

.box {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}

.flag {
  margin-right: 20px;
  width: 72px;
  height: 38px;
  display: flex;
  object-fit: cover;
  border-top-left-radius: 11px;
}

.btn {
  background-color: var(--color-orange);
  min-width: 300px;
  font-size: 21px;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 21px;
  transition: box-shadow 0.3s ease-in;

  // backdrop-filter: blur(10px);
  // -webkit-backdrop-filter: blur(10px); /* для Safari */
  // background-color: rgba(255, 255, 255, 0.57); /* немного прозрачности */
  &:hover {
    box-shadow: 0 0 12px var(--color-white);
  }
  &:active {
    box-shadow: none;
  }
}

.btngreen {
  color: var(--color-black);
  background-color: var(--color-green);
}

.text {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 21px;
}

.title {
  font-size: 35px;
  margin-bottom: 11px;
}


// .counter {
//   color: var(--color-white);
//   button {
//     color: var(--color-white);
//   }

  // .minus {
  //   display: flex;
  // }
// }

