.loading {
    background-color: #000;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        width: 300px;
        height: 300px;
        @media screen and (max-width: 720px) {
            width: 200px;
            height: 200px;
        }
    }
}
