

.list {
  display: flex;
}

.header-nav {
  margin-right: 40px;
  @media (max-width: 991px) {
    position: fixed;
    transform: translateY(-300%)!important;
    // transition: transform 0.4s ease-in;
    transform-origin: top!important;
  }
}

.active {
  position: fixed;
  background-color: rgba(#000, .9);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 111;
  margin: 0;
  display: flex;
  justify-content: center;
  transform: translateY(0%)!important;
  transform-origin: top!important;
  transition: transform 0.4s ease-in;
  .list {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .item{
    width: 100%;
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 21px;
    }
  }
}

.item {
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.link {
  display: block;
  color: var(--color-gold);
  transition: color 0.1s ease-in, box-shadow 0.2s ease-in;
  padding: 4px 15px;
  font-weight: 700;
  letter-spacing: 2px;
  border: 1px solid;
  position: relative;
  border: 1px solid var(--color-gold);

  &:hover {
    box-shadow: 0px 0px 4px var(--color-gold);
  }
}

.burger {
  display: none;
  @media (max-width: 991px) {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 33px;
    position: relative;
    order: 1;
    margin-left: 15px;
    z-index: 222;
  }
}