
.search {
  position: relative;
}

.searchBtn {
  // margin-right: 10px;
  display: flex;
  //  @media (max-width: 500px) {
  //   margin-right: 10px;
  // }
  svg {
    margin: auto;
    width: 29px;
    height: 29px;
    transition: stroke .3s ease-in;
    stroke: var(--color-white);
    @media (max-width: 500px) {
      margin-right: 0px;
    }
    path {
      stroke: var(--color-white);
      transition: stroke .3s ease-in;
    }
  }
  &:hover {
    svg, path {
      stroke: var(--color-orange);
    }
  }
}

.box {
  position: absolute;
  height: 45px;
  width: 250px;
  bottom: -50px;
  right: 0;
  
  @media (max-width: 720px) {
    width: 90%;
    position: fixed;
    top: 60px;
    bottom: auto;
    right: auto;
    left: 50%;
    height: 35px;
    transform: translateX(-50%);
  }
}

.input {
  padding: 0 25px 0 6px;
  font-size: 19px;
  line-height: 1;
  border-radius: 10px;
  outline: transparent;
  border: none;
  background-color: rgba(#fff, 0.8);
  width: 100%;
  position: absolute;
  height: 100%;
  transition: all 0.4s ease-in;
  font-weight: 700;
  &::placeholder {
    transition: color .2s ease-in;
    @media (max-width: 720px) {
      font-size: 16px;
    }
  }
  &:focus {
    background-color: rgba(#fff, 0.7);
    box-shadow: 0 0 9px rgba(#fff, 0.5);
    &::placeholder {
      color: transparent;
    } 
  }
}

.show {
  transform: translateY(12px);
  opacity: 1;
  transition: all 0.4s ease-in;
}

.hidden {
  transition: all 0.4s ease-in;
  transform: translateY(-12px);
  opacity: 0;
}

.close {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  right: -6px;
  svg {
    color: red;
  }
}