
.review {
  padding: 50px 0;
}

.top {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
  font-size: 25px;
  color: var(--color-white);
  p {
    margin-right: 20px;
  }
}

.btn {
  border: 1px solid var(--color-white);
  border-radius: 25px;
  padding: 6px 25px;
  line-height: 1;
  color: var(--color-white);
  font-size: 21px;
  &:disabled  {
    cursor:  no-drop;
    opacity: 0.5;
  }
}

.title {
  color: var(--color-white);
  display: block;
  margin-bottom: 14px;
  font-size: 27px;
  text-align: center;
}

.submit {
  margin-left: auto;
  border-radius: 25px;
  padding: 6px 25px;
  line-height: 1;
  border: 1px solid var(--color-orange);
  background-color: var(--color-orange);
  color: var(--color-black);
  font-size: 21px;
  &:disabled  {
    cursor:  no-drop;
    opacity: 0.5;
  }
}

.text {
  margin-bottom: 11px;
  resize: none;
  width: 100%;
  height: 200px;
  padding: 20px;
  font-size: 21px;
  outline: transparent;
  border-radius: 20px;
  // background-color: rgba(#fff, 0.4);
  transition: background-color 0.3s ease-in;
  &:focus {
    background-color: rgba(#fff, .8);
    // + .label {
      
    //   background-color: rgba(#fff, .8);
    //   transform-origin: left;
    //   transform: translateY(-40px) scale(0.8);
    // }
  }
}

.error {
  position: absolute;
  bottom: -5px;
  font-weight: 700;
  left: 18px;
  color: red;
}

.block {
  position: relative;
}

// .label {
//   padding: 2px 4px;
//   transform-origin: left;
//   transition: transform 0.4s ease-in;
//   transform: scale(1);
//   position: absolute;
//   color: var(--color-black);
//   top: 20px;
//   left: 18px;
//   font-size: 18px;
// }

.form {
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #1E293C;
  margin: 0 auto;
  width: 70%;
  border-radius: 20px;
  padding: 40px;
}

.heading {
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 18px;
  margin-left: 2px;
  margin-right: 20px;
}