
.item {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 0 12px #ccc;
}

.green {
  color: var(--color-green);
}

.inner {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(#fff, 0.6);
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

.red {
  color: var(--color-red);
}


.top {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flag {
  width: 72px;
  height: 38px;
  display: flex;
  object-fit: cover;
  border-top-left-radius: 11px;
}

.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 15px;
  svg {
    transition: stroke 0.3s ease-in, fill 0.3s ease-in;
  }
  &:hover {
    svg {
      stroke: var(--color-orange);
    }
  }
}


.name {
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: auto;
}

.price {
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 15px;
}

.photo {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  height: 205px;
  background-color: var(--color-white);
}

.image {
  max-width: 235px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.btn {
  background-color: var(--color-orange);
  width: 100%;
  // color: var(--color-white);
  padding: 15px 0;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in;
  &:hover {
    box-shadow: 0 0 12px var(--color-orange);
  }
  &:active {
    box-shadow: none;
  }
}

.stocked {
  padding: 3px 5px;
  display: block;
  text-transform: uppercase;
  margin-right: 12px;
  color: var(--color-white);
  font-weight: 700;
  background-color: var(--color-green);
  font-weight: 500;
}

.btngreen {
  background-color: var(--color-green);
  box-shadow: var(--color-green);
  &:hover {
    box-shadow: 0 0 12px var(--color-green);
  }
}

.btnorange {
  svg {
    fill: var(--color-orange);
    stroke: var(--color-orange);
  }
}


