
.basket {
  padding-top: 100px;
  background-color: var(--color-black);
  height: 100%;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.list {
  width: 75%;
  margin-right: 3%;
  background-color: teal;


}

.right {
  background-color: teal;
  height: 200px;
  width: 20%;
}

.image {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
