.filters {
  width: 18%;
  margin-right: 1%;
  height: max-content;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 12px #ccc;
  min-width: 210px;

  @media (max-width: 1050px) {
    margin-right: 3%;
  }
  @media (max-width: 850px) {
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
  }
  @media (max-width: 650px) {
    flex-direction: column;
  }
}
