
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-orange: rgb(245, 117, 32);
  --color-green: #008000;
  --color-red: red;
  --color-gold: #ffd700;
  --color-grey: #E5E5E5;

  --index: calc(1vw + 1vh);


  

  /* @include font-text(40, 28) */
  /* height: rem(250); */



  /*
  @use '../../mixins.scss' as mixins;

  max-width: mixins.rem(750);
  @include mixins.font-text(27, 18);

  html {
    font-size: 62.5%;
  } 
  */

  
  /* #2E2E2E */
  /* #1A1A1A */
  /* #101010 */
  /* --hover-color: #0056b3; */
  /* --transition-duration: 0.3s; */
  /* --transition-easing: ease; */

}