
.header {
  padding: 20px 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner {
  display: flex;
  align-items: center;
}

.link_logo {
  width: 85px;
  height: 45px;
  display: flex;
}

.logo {
  width: 100%;
  object-fit: cover;
}

.exit {
  // background-color: red;
  color: var(--color-white);
  display: flex;
  align-items: center;
  svg {
    margin-right: 5px;
  }
  svg {
    path {
      fill: var(--color-orange);
    }
  }
  // padding: 5px 10px;
  // font-weight: 700;
}


.login {
  // background-color: green;
  // color: #fff;
  // padding: 5px 10px;
  // font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  svg {
    path {
      fill: var(--color-orange);
    }
  }
}