
.header {
  padding: 20px 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  transition: background-color 0.2s ease-in, padding 0.3s ease-in;
  left: 0;
}

.active {
  padding: 10px 0;
  background-color: rgba(#000, 0.7);
  transition: background-color 0.2s ease-in, padding 0.3s ease-in;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner {
  display: flex;
  align-items: center;
}

.link_logo {
  width: 85px;
  height: 45px;
  display: flex;
}

.logo {
  width: 100%;
  object-fit: cover;
}

.exit {
  color: var(--color-white);
  display: flex;
  align-items: center;
  margin-right: 10px;
  svg {
    margin-right: 5px;
    width: 29px;
    height: 29px;
    path {
      fill: var(--color-orange);
    }
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  svg {
    width: 29px;
    height: 29px;
    fill: var(--color-orange);
    stroke: var(--color-white);
    path {
      fill: var(--color-orange);
    }
  }
}


.card {
  position: relative;
  svg {
    width: 29px;
    height: 29px;
    path {
      stroke: var(--color-white);
    }
    stroke: var(--color-orange);
  }
  span {
    position: absolute;
    top: 0;
    right: -9px;
    border-radius: 50%;
    line-height: 1;
    color: var(--color-white);
    font-weight: 700;
    font-size: 13px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-orange);
  }
}


.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  margin-right: 15px;
  position: relative;
  svg {
    width: 27px;
    height: 27px;
  }
  span {
    position: absolute;
    top: 0;
    right: -9px;
    border-radius: 50%;
    line-height: 1;
    color: var(--color-white);
    font-weight: 700;
    font-size: 13px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-orange);
  }
}